<header>
    <div class="header-left">
        <a routerLink="" class="logo">
            <img src="https://img.icons8.com/ios-filled/100/000000/car-rental.png" alt="Car Rental Icon">
          </a>

    </div>
    <div class="header-center">
        <nav>
            <ul>
                <li><a routerLink="fleet">Автопарк</a></li>
                <li><a href="ads">Объявления</a></li>
                

                <li *ngIf="isFleetManager">
                    <a routerLink="fleet-manager/dashboard">Панель управления</a>
                </li>
                <li *ngIf="isFleetManager">
                    <a routerLink="add-vehicle">Добавить автомобиль</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-right">
        <span>Алматы</span>

        <a *ngIf="!isLoggedIn" routerLink="login" title="Вход">
            <img src="assets/images/login.png" alt="Вход" class="icon-img" />
        </a>
        <a *ngIf="!isLoggedIn" routerLink="register" title="Регистрация">
            <img src="assets/images/register.png" alt="Регистрация" class="icon-img" />
        </a>
        
        <a *ngIf="isLoggedIn" routerLink="profile" title="Мой профиль">
            <img src="assets/images/Profile.png" alt="Мой профиль" class="icon-img" />
        </a>
        <a *ngIf="isLoggedIn" (click)="logout()" title="Выход">
            <img src="assets/images/Logout.png" alt="Выход" class="icon-img" />
        </a>
        <button class="contact-btn" (click)="openWhatsApp()">Связаться</button>
    </div>
</header>
  
<router-outlet></router-outlet>